.project-card--image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background: lightgrey;
}

.project-card {
  cursor: pointer;
  height: 400px;
}

.project-card--title {
  margin: 16px 16px 6px 16px;
}

.project-card--description {
  padding: 0 16px;
  white-space: pre-line;
  overflow: hidden;
  overflow-wrap: break-word;
  flex-grow: 1;
  flex-shrink: 1;
}

.project-card--tags {
  padding: 8px 16px 16px 16px;
}

.project-card--tag {
  margin: 3px 3px;
}

.project-card--tag__icon {
  display: inline-block;
  font-size: 12px;
  margin: 0 4px;
  position: relative;
  top: 2px;
}

.project-card--body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
