<div class="card project-card" routerLink="/projects/{{project.id}}">
    <div>
        <img class="project-card--image"
            src="{{ project?.info?.image }}"
            alt="Image for {{project?.info?.name}}"
        >
    </div>
    <div class="card-content project-card--body">
        <h6 class="project-card--title">
            {{ project?.info?.name }}
        </h6>
        <div class="text-muted project-card--description ">
            {{ project?.info?.description }}
        </div>
    </div>
    <div class="footer project-card--labels">
        <span *ngFor="let label of project.info.labels" class="badge badge-pill badge-default project-card--label">{{label}}</span>
    </div>
</div>
