<div
    class="modal fade"
    id="uploadModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog upload-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body upload-modal-body">
                <ng-wizard>
                    <ng-wizard-step title="📷">
                        <h3 class="text-center step-title">Connect Device</h3>
                        <h6 class="text-center step-description">
                            Select a device type and locate its data.
                        </h6>
                        <div class="step-body">
                            <app-step-device></app-step-device>
                        </div>
                    </ng-wizard-step>
                    <ng-wizard-step title="📋">
                        <span>Add metadata!</span>
                    </ng-wizard-step>
                    <ng-wizard-step title="📡">
                        <span>Upload!</span>
                    </ng-wizard-step>
                </ng-wizard>
            </div>
        </div>
    </div>
</div>
