:host {
	flex-grow: 1;
	display: flex;
}

.upload-card {
	background-color: var(--primary);
	flex-grow: 1;
	cursor: pointer;
}

.upload-card:hover {
	box-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.35);
}

.upload-card--body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.upload-card--body--icon {
	font-size: 56px;
	min-width: 56px;
	min-height: 56px;
	margin-right: 6px;
	color: var(--primary-contrast);
}

.upload-card--body--title {
	font-size: 24px;
	margin-left: 6px;
	color: var(--primary-contrast);
	letter-spacing: 0.075em;
}
