<div class="card-body">
    <form method="get" action="/" class="form-horizontal">
        <div class="row">
            <label class="col-sm-2 col-form-label">Input with success</label>
            <div class="col-sm-10">
                <div class="form-group has-success">
                    <input type="text" class="form-control" value="Success" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Input with error</label>
            <div class="col-sm-10">
                <div class="form-group has-danger">
                    <input type="text" class="form-control" value="Error" />
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Column sizing</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder=".col-md-3"
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder=".col-md-4"
                            />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder=".col-md-5"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
